/* HUISSTIJL Provincie Utrecht */
/* rgb(229,53,33) */
/* rgb(0,0,0) */
/* rgb(0,152,212) */
/* rgb(131,184,26) */
/* rgb(sweet orange) */
/*DOM basic styles*/
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; 
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  webkit-overflow-scrolling: auto;
  position: absolute;
  color:rgb(229,53,33);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(229,53,33);
  font-size: 50px;
  font-weight: bold;
  margin:0;
}

/*--------------------------------------------------------*/
/* COLLAGE */
.collage{
    background-color: rgba(255,255,5,0.85);
    width: 40%;
    height:80%;
    left:0px;
    top:0px;
    bottom:0px;
    margin: 2.5% 0 2.5% 0;
    padding:  2% ;
    position: absolute;
    overflow: hidden;
    z-index:1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*  COLLAGE ROWS */

.rij{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 10px;
}
#title{
    height: 10%;
}
#main_photo{
    height: 70%;
}
#main_photo_title{
    height: 10%;
}
#sub_photos{
    height: 20%;
}
#logo_container{
    height: 10%;
}


/*--------------------------------------------------------*/
/* COLLAGE ITEMS */

.items{
    /* margin:0 10px; */
    /* order:1; */
    cursor: pointer;
    height: 100%;
    display:flex;
    justify-content: center;
}


img{
    height:100%;
    width: auto;
}

